body {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
}
h1, h2, h3, h4 {
    font-family: 'Ubuntu', sans-serif;   
}
h1 {
    font-size: 300%;
    font-style: italic;
}
h2 {
    font-size: xx-large;
}
h3, h5 {
    font-size: x-large;
}
h4 {
    font-style: italic;
}
a {
    color: red;
    text-decoration: none;
}
a:visited {
    color: blue;
}
a:hover {
    text-decoration: underline;
}