body {
    background: #f9e933;
}
header, main, footer {
    min-width: 855px;
    padding: 10px;
}
header.container, main.container, footer.container {
    max-width: 855px;
    margin: auto;
}
header {
    background: white;
    overflow: auto;
}
header h1, .maintextblock, .contact {
    float: left;
    width: 570px;
}
header nav, .mainimg, .sitemap {
    float: right;
    width: 285px;
}
main {
    background: white;
    overflow: auto;
}
.maintextblock li {
    list-style: circle;
    margin-left: 25px;
    padding: 5px;
 }
 h1, h2, h3, h5, .maintextblock p {
     padding: 5px;
 }
 h4, .contact p, .sitemap li {
     padding-left: 5px;
 }
 